.sidebar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  position: relative;
  overflow: inherit;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  gap: 5px;
  font-weight: 600;
  margin-top: 30px;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 10px;
  gap: 2rem;
  background-color: #f2f3f4;
  border-radius: 1rem;
  height: 100%;
}

.navitem {
  display: flex;
  height: 2.5rem;
  align-items: center;
  margin: 5px;
  font-size: 14px;
  border-radius: 0.7rem;
  transition: all 100ms ease;
  position: relative;
  padding: 5px;
  width: 100%;
}
